# Build folders
/build/
/bin/
/out/
CMakeFiles/
CMakeCache.txt

# Visual Studio files
*.sln
*.vcxproj*
*.user
*.log
.vs/

# Compiled files
*.obj
*.exe
*.dll
*.lib
*.pdb

# OS-specific files
.DS_Store
Thumbs.db
